.header {
    height: 50px;
    width: 370px;
    background-color: #7a7a7a;
    color: lightgrey;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    position: flex;
}

.container {
    height: 50px:
    width: 100px
    position: flex;
}

.input {
    height: 500px;
    width: 200px;
    display: inline-block;
    background-color: lightgrey;
}

.output {
    height: 500px;
    width: 900px;
    display: inline-block;
    position: absolute;
    /*background-color: #ebebeb;*/
}

label {
    display: block;
    font-size: 18px;
    margin-top: 10px;
}

.files{
    display: inline-block;
    padding-bottom: 60px;
    padding-left: 15px;
    bakcground-color: red;
}

.values{
    display: inline-block;
    padding-bottom: 30px;
    padding-left: 15px;
    bakcground-color: red;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

    transform: translateX(25px);
}

.btn:hover {
    background-color: #3e8e41;
}

.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;

    transform: translate(25px, 4px);
}
